.font-x-large {
    font-size: x-large;
}

.white-space-pre-wrap {
    white-space: pre-wrap;
}

.input-border {
    border: 1px solid black;
}

.mono {
    font-family: var(--bs-font-monospace);
    font-size: .875em;
}

.main_content {
    display: flex;
    flex-direction: row;
}

#apgm_input {
    width: 60%;
    height: calc(100vh - 150px);
}

#output {
    width: 40%;
}

@media screen and (max-width: 768px) {
    .main_content {
        flex-direction: column;
    }

    #apgm_input {
        height: 400px;
    }

    #apgm_input, #output {
        width: 100%;
    }

    #buttons {
        display: grid;
        gap: 4px 0px;
        grid-template-columns: repeat(3, 1fr);
    }
}
