:root {
    --dark-mode-color: #dddddd;
    --dark-mode-background-color: black;
}

body[apge_dark_mode=on] {
    background-color: var(--dark-mode-background-color);
    color: var(--dark-mode-color)
}

body[apge_dark_mode=on] td, body[apge_dark_mode=on] th {
    color: var(--dark-mode-color);
}
body[apge_dark_mode=on] .btn-primary {
    background-color: var(--dark-mode-background-color);
    color: var(--dark-mode-color)
}
body[apge_dark_mode=on] #canvas {
    filter: invert();
}
body[apge_dark_mode=on] textarea.form-control, body[apge_dark_mode=on] textarea.form-control:focus {
    background-color: var(--dark-mode-background-color);
    color: var(--dark-mode-color);
}
body[apge_dark_mode=on] span.decimal, body[apge_dark_mode=on] span.pointer {
    background-color: var(--dark-mode-background-color);
    color: var(--dark-mode-color);
}
/* Modal */
body[apge_dark_mode=on] .modal-content {
    background-color: var(--dark-mode-background-color);
}
/* Modal内のinput */
body[apge_dark_mode=on] input[type=number], body[apge_dark_mode=on] input[type=number]:focus {
    background-color: var(--dark-mode-background-color);
    color: var(--dark-mode-color);
}
body[apge_dark_mode=on] .form-select, body[apge_dark_mode=on] .form-select:focus {
    background-color: var(--dark-mode-background-color);
    color: var(--dark-mode-color);
}
body[apge_dark_mode=on] .dropdown-item, body[apge_dark_mode=on] .dropdown-menu {
    background-color: var(--dark-mode-background-color);
    color: var(--dark-mode-color);
}
/* 閉じるボタンを白くする */
body[apge_dark_mode=on] .btn-close {
    background-color: var(--dark-mode-color);
}

body[apge_dark_mode=on] #error {
    color: black;
    background-color: #CF6679;
}
