:root {
    --dark-mode-color: #dddddd;
    --dark-mode-background-color: black;
}

body[apge_dark_mode=on] :is(td, th) {
    color: var(--dark-mode-color);
}

body[apge_dark_mode=on] #canvas {
    filter: invert();
}

body[apge_dark_mode=on], body[apge_dark_mode=on] :is(
    .btn-primary,
    textarea.form-control,
    textarea.form-control:focus,
    span.decimal,
    span.pointer
) {
    background-color: var(--dark-mode-background-color);
    color: var(--dark-mode-color);
}

/* Modal */
body[apge_dark_mode=on] :is(
    .modal-content,
    input[type=number],
    input[type=number]:focus,
    .form-select,
    .form-select:focus,
    .dropdown-item,
    .dropdown-menu
) {
    background-color: var(--dark-mode-background-color);
    color: var(--dark-mode-color);
}

/* 閉じるボタンを白くする */
body[apge_dark_mode=on] .btn-close {
    background-color: var(--dark-mode-color);
}

body[apge_dark_mode=on] #error {
    color: black;
    background-color: #CF6679;
}
