.vertical-align-middle {
    vertical-align: middle;
}

.white-space-nowrap {
    white-space: nowrap;
}

.table-layout-fixed {
    table-layout: fixed;
}

/* 広げる */
#stats_modal .modal-dialog {
    max-width: 550px;
}

#state td, #state th {
    padding: 4px;
}

#state {
    /* 幅が変化しないようにする */
    table-layout: fixed;
}

#steps {
    color: black;
}

.code-mono {
    font-family: var(--bs-font-monospace);
    font-size: .875em;
    word-wrap: break-word;
}

#stats_table :is(td, th) {
    padding: 2px;
}

@media screen and (max-width: 480px) {
    .command_prefix {
        display: none;
    }
    #previous_output {
        text-align: right;
    }
}

@media screen and (max-width: 768px) {
    .btn-group {
        display: grid;
        gap: 4px 0px;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 330px) {
    .btn-group {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 255px) {
    .btn-group {
        grid-template-columns: repeat(2, 1fr);
    }
}

/**** Dark mode ****/
:root {
    --dark-mode-color: #dddddd;
    --dark-mode-background-color: black;
}

body[apge_dark_mode="on"] :is(td, th, #steps) {
    color: var(--dark-mode-color);
}

body[apge_dark_mode="on"] #canvas {
    filter: invert();
}

/* ライトモード */
.binary_info {
    color: black;
}

body[apge_dark_mode="on"], body[apge_dark_mode="on"] :is(
    .btn-primary,
    textarea.form-control,
    textarea.form-control:focus,
    .binary_info
) {
    background-color: var(--dark-mode-background-color);
    color: var(--dark-mode-color);
}

body[apge_dark_mode="on"] :is(
    .modal-content,
    input[type=number],
    input[type=number]:focus,
    .form-select,
    .form-select:focus,
    .dropdown-item,
    .dropdown-menu
) {
    background-color: var(--dark-mode-background-color);
    color: var(--dark-mode-color);
}

/* 閉じるボタンを白くする */
body[apge_dark_mode="on"] .btn-close {
    background-color: var(--dark-mode-color);
}

body[apge_dark_mode="on"] #error {
    color: black;
    border-color: #CF6679;
    background-color: #CF6679;
}

/* Statsの現在の状態 renderStats.jsで使用 */
.stats_current_state {
    background-color: #e1f5fe;
}

body[apge_dark_mode="on"] .stats_current_state {
    background-color: #333;
}

/**** speedy animation ****/
.fade {
    transition: opacity .10s linear; /* 0.15s */
}

.modal.fade .modal-dialog {
    transition: transform .2s ease-out; /* 0.3s */
}
